@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

@font-face {
    -fx-font-family: Gotham;
    src: url("Gotham-Font/GothamMedium.ttf");
}
.root {
    -fx-text-fill: black;
    -fx-font-size: 20;
}

SVGPath {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 3px;
}

.top {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#instruction, #nomJoueur {
    -fx-font-family: "Gotham";
    -fx-font-size: 18;
}
